body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1DB954;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #1DB954;
}

.canciones-lista {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin: 5px 0;
    color: #333;
}

#reproductor-container {
    margin-top: 20px;
}

#reproductor-menu {
    margin-top: 10px;
}

.oculto {
    display: none;
}

footer {
    background-color: #1DB954;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}